#gallery .galleryWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#gallery a {
  width: calc((100% / 3) - (15px * 2 / 3));
}

#gallery a .imageWrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#gallery a .imageWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

/* hover */
#gallery a .imageWrapper img {
  transition: 0.5s;
}

#gallery a:hover .imageWrapper img {
  transform: scale(1.1);
  filter: brightness(100%);
}